# Sensitive files
.streamlit/**
.env
*.json
test_python_gemini.py
cadre_mappings.json
gen-lang-client-*.json

# Directories
data/
resources/
__pycache__/
venv/
ENV/
datacleaning/

# Python
*.py[cod]
*$py.class
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg